## In this notebook, we will load and clean our data
 We are working with 10 files, but df_train_all_v1.parquet is the full training data set we can start with

In [ ]:
# Core fact tables (sales data):
#	•	df2016_train.parquet (subset, probably for initial testing/competition baseline)
#	•	df_train_all_v1.parquet (full training set)
#	•	df_test.parquet, df_test_2022.parquet (test sets)
#	•	sample_submission.parquet (submission format, not for analysis)

# Supporting dimension tables (metadata & signals):
#	•	items.parquet (item family, perishable flag, etc.)
#	•	stores.parquet (store city, type, cluster)
#	•	transactions.parquet (daily transaction counts by store)
#	•	holiday_events.parquet (dates + holiday flags)
#	•	oil.parquet (daily oil prices)

In [4]:
#add libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
import os
print(os.getcwd())

/Users/angiediaz/CPSC4300/grocery-sales-forecasting/scripts

In [13]:
# Load in df_train_all_v1.parquet
df_train = pd.read_parquet("../data/raw/df_train_all_v1.parquet")
df_items = pd.read_parquet("../data/raw/items.parquet")
df_stores = pd.read_parquet("../data/raw/stores.parquet")

In [16]:
#Check its shape, types and missing values

print(df_train.shape)
print(df_train.dtypes)
print(df_train.isnull().sum())

df_train.info()

(125497040, 5)
date           datetime64[us]
store_nbr               int64
item_nbr                int64
unit_sales            float64
onpromotion              bool
dtype: object
date           0
store_nbr      0
item_nbr       0
unit_sales     0
onpromotion    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   date         datetime64[us]
 1   store_nbr    int64
 2   item_nbr     int64
 3   unit_sales   float64
 4   onpromotion  bool
dtypes: bool(1), datetime64[us](1), float64(1), int64(2)
memory usage: 3.9 GB

In [19]:
df_train.columns

Index(['date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion'], dtype='object')

In [17]:
df_train.head()

        date  store_nbr  item_nbr  unit_sales  onpromotion
0 2013-01-01         25    103665    2.079442        False
1 2013-01-01         25    105574    0.693147        False
2 2013-01-01         25    105575    1.098612        False
3 2013-01-01         25    108079    0.693147        False
4 2013-01-01         25    108701    0.693147        False

In [ ]:
# So after looking at the data, we can see that there are no missing values in the dataset
# We can also see that the date column is already in datetime format
# All the other columns have the correct type
# This is a huge dataset, will need to be cautious with memory usage